@import 'tailwindcss';

@theme {
    --color-main-1: #ba00ff;
    --color-main-2: #8100b3;

    --color-gray-500: #a8a8a8;
    --color-gray-800: #494949;

    --color-main-gradient-from: #8100b3;
    --color-main-gradient-to: #dd00ff;

    --linear-main-gradient: linear-gradient(44.97deg, #8100b3 0%, #dd00ff 100%);

    --shadow-card: -4px 4px 4px 0px #0000001a;

    --font-pretendard: 'Pretendard', sans-serif;
    --font-mbc: 'MBC1961GulimM', sans-serif;
}

@font-face {
    font-family: 'Pretendard';
    src: url('/assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: var(--font-pretendard);
}

html,
body,
#root {
    height: 100%;
}
